body{
	margin: 0px;
	padding: 0px;
}

#sidebar{
	background-color: #ead6ff;
	margin-top: 58px;
	width: 250px;
	height: 100%;
	position: fixed;
}

#menu-sidebar{
	margin-top: 45px;
	margin-left: 0px;
	text-align: center;	
}

#elemento-principal{
	margin-left: 260px;
	margin-right: 0px;
	margin-top: 70px;
}

#form-cadastro{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#tabela{
	width: 100%;
}


.menubar{
	position: fixed;
	width: 100%;
	background-color: #5A2D82;
}

.btn-color{
	color: #fff;
	background-color: #5A2D82;
}

.btn-color:hover{
	color: #fff;
	background-color: #5A2D82;
}

.title-bar{
	font-family: Sans-serif Verdana;
    color: white;
    text-align: center;
}

.form-signin{
	max-width: 500px;
	margin: 0 auto;
}

.form-group{
	width: 100%;
}

.right{
	float: right;
	margin-top: 6px;
	margin-bottom: 6px;
}

.erro{
	color: red;
}

.orientacao{
	max-width: 500px;
	margin-top: 10px;
	margin-left: 0;
}


